.tree-list {
  list-style-type: none;
  position: relative;
  padding: 0;

  &__input {
    padding: 5px;
    max-width: 100%;
  }

  &__sublist, &__subitem {
    position: relative;
  }

  &__sublist {
    list-style: none;
    padding-left: 32px;

    > &__subitem:last-child::after {
      height: 8px;
    }
  }

  &__subitem {
    min-height: 30px;
    line-height: 30px;

    &:before, &:after {
      content: "";
      position: absolute;
      left: -12px;
    }

    &:before {
      border-top: 1px solid #000;
      top: 14px;
      width: 8px;
      height: 0;
    }

    &:after {
      border-left: 1px solid #000;
      height: 100%;
      width: 0px;
      top: 2px;
    }
  }
}
